@model SiteInProgress.Models.GalleryUploadView

@{
    ViewBag.Title = "";
}

<h2>Edit You Post</h2>

@using (Html.BeginForm())
{
    
    
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(Model => Model.ImageGallery.FileID)
        @Html.HiddenFor(Model => Model.ImageGallery.DateOfPosting)
        @Html.HiddenFor(Model => Model.ImageGallery.FileData)
        @Html.HiddenFor(Model => Model.ImageGallery.FileName)
        @Html.HiddenFor(Model => Model.ImageGallery.FileSize)
        @Html.HiddenFor(Model => Model.ImageGallery.UserID)
        @Html.HiddenFor(Model => Model.ImageGallery.File)

        <div class="form-group">
            @Html.LabelFor(model => Model.ImageGallery.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ImageGallery.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.ImageGallery.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ImageGallery.CategoryId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ImageGallery.CategoryId,
           new SelectList(Model.Categories, "Id", "CategoryName"), new { @class = "textarea" })
            </div>
        </div>
        
        <div class="form-group">
            <div class = "col-md-offset-2 col-md-10">
                 <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageGallery.FileData,0,Model.ImageGallery.FileData.Length)"  box-shadow="8px 8px 10px #aaa" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submit" value="Delete The Post" class="btn btn-default" />
            </div>
        </div>

    </div>
}


<div>
    @Html.ActionLink("Back to The Gallery", "GalleryList")
</div>
